{% extends 'base.html' %}

{% block title %}
<title>Новий пост</title>
{% endblock title %}

{% block main %}
<main class="container py-5">
   <h2 class="text-center">Новий пост</h2>
   
   <form action="" method="POST" enctype="multipart/form-data">
    {% for type, message in get_flashed_messages(True) %}
        <div class="alert {{type}} my-3 "> {{message}} </div>
      {% endfor %}
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Назва поста</label>
        <input required name="title" type="text" class="form-control" id="exampleFormControlInput1">
    </div>
    <div class="mb-4">
        <label for="exampleFormControlTextarea1" class="form-label">Текст посту</label>
        <textarea required name="text" class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
      </div>
      
      <select required name="category" class="form-select" aria-label="Default select example">
        <option selected>Виберіть категорію</option>
        {% for categ  in category_list %}
            <option value="{{categ[0]}}">{{categ[1].capitalize()}}</option>
        {% endfor %} 
      </select>
      <div class="my-3">
        <label for="formFile" class="form-label">Завантажте зображення для посту</label>
        <input name="image" class="form-control" type="file" id="formFile">
      </div>

      <button type="submit" class="btn btn-primary add-btn">Додати пост</button>
   </form>
</main>
{% endblock main %}